@(user: String,post: Post,commentForm: Form[Comment])

@import helper._

@main("") {
	
	<h1>@post.getTitle()</h1>
	@post.getCreationDate() Por @post.getAuthor()
	Comentarios: @post.getComments().size()
	Likes: @post.getLikes().size()
	<hr>
	@post.getBody()
	<br/>
	Tags: 
	@for(tag <- post.getTags()) {
  		@tag
	}
	<br/>
	<br/>
	Comentarios: @if(post.getComments().size == 0) { Ninguno } 
	@for(comment <- post.getComments()) {
  		Autor: @comment.getAuthor()
  		@if(comment.getEmail() != null) {
  			Email: @comment.getEmail()
  		}
  		@comment.getBody()
	}
	<br/>
	Agregar un comentario:
	@form(routes.Application.newComment()) {
		@inputText(field = commentForm("author"), args = 'size -> 60)
		@inputText(field = commentForm("email"), args = 'size -> 60)
		@textarea(field = commentForm("body"), args = 'rows -> 10, 'cols -> 40)
		<input type="hidden" name="permalink" id="permalink" value="@post.getPermalink()" />
		
		<input type="submit" value="Create">
	}
	<br/>
	<a href="/blog">Volver</a>
}
